* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

*,
html {
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

body {
  background-color: @bg-light;
  color: @text-white;
  font-size: 1.8rem;
}

a {
  text-decoration: none;
}

.App {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.align-center {
  display: flex;
  align-items: center;
}

.justify-between {
  display: flex;
  justify-content: space-between;
}

.img-wrapper {
  width: 4.2rem;
  min-width: 4.2rem;
  height: 4.2rem;
  min-height: 4.2rem;
  background-color: @text-gray;
  border-radius: 7px;
  overflow: hidden;
  margin-right: 2.8rem;

  img {
    width: 100%;
  }
}

.user-name {
  font-weight: 700;
  color: @text-gray;
}

.top-tab {
  padding: 1.724rem 0;
  max-height: @top-tab-height;
  min-height: @top-tab-height;
}

.body-blackout {
  display: none;
  background-color: rgba(18, 15, 19, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: 2;
}
